@font-face {
    font-family: 'Arm Hmk Imagine Square';
    src: url('/public/fonts/ARM-HMK-MAGINESQUARE.TTF');
}

@font-face {
    font-family: 'Montserrat arm';
    src: url('/public/fonts/Montserratarm-Regular.otf');
    font-weight: 400;
}
@font-face {
    font-family: 'Montserrat arm';
    src: url('/public/fonts/Montserratarm-Bold.otf');
    font-weight: 600;
}
