// Colors
$white: #FFFFFF;
$black: #051D41;
$blue: #54B0FB;
$gray: #2B3F66;
$blue_gradient_first: #D9E6F9;
$blue_gradient_second: #54B0FB;
$green_gradient_second: #02FF2A;
$green_gradient_second: #07BA1E;

// LINE HEIGHT
$line_height_gte_24: 130%;
$line_height_lie_24: 160%;


// Fonts

$title_font: ''
